@model IEnumerable<FirstMVCApplication.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
    <p>
        <a asp-action="Create">Add New Record</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Department</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Gender</td>
            <td>@item.Department</td>
            <td>@item.City</td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
